---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import PortfolioCard from "../../components/PortfolioCard.astro"
const coll = await getCollection('portfolio')
const portfolio = coll.sort((a, b) => {
    const astatus = a.data.status;
    const bstatus = b.data.status;
    const priority = {
        "Finished": 2,
        "In works": 1,
        "Paused": 3
    };
    if (priority[astatus] < priority[bstatus]) {
        return -1;
    }
    if (priority[astatus] > priority[bstatus]) {
        return 1;
    }
    if (astatus === bstatus) {
        return b.data.start_date.getTime() - a.data.start_date.getTime();
    }
    return 0;
});
---
<Layout pageTitle="Portfolio">
	<div class="legend">
		<div class="legend-line">
			<a class="download" download href="/CV_Maiken_DAngelo_Stage_Informatique.pdf">
				<img src="/download.png">
			</a>
			<a download href="/CV_Maiken_DAngelo_Stage_Informatique.pdf">Télécharger CV</a>
		</div>
	</div>
	<div class="legend">
		<div class="legend-line">
			<div class="legend-color" style="background-color: #000091;"></div>
			<p>Projet Personnel</p>
		</div>
		<div class="legend-line">
			<div class="legend-color" style="background-color: #FFFFFF;"></div>
			<p>Projet Universitaire</p>
		</div>
		<div class="legend-line">
			<div class="legend-color" style="background-color: #E1000F;"></div>
			<p>Projet Professionnel</p>
		</div>
	</div>
	<div class="portfolio">
		{portfolio.map((a: any)=>(
			<PortfolioCard
			pid={a.id}
			title={a.data.title}
			start_date={a.data.start_date}
			end_date={a.data.end_date}
			author={a.data.author}
			description={a.data.description}
			category={a.data.category}
			status={a.data.status}
			lang="fr"
			context={a.data.context}>
			</PortfolioCard>
		))}
	</div>
</Layout>


<style>
	.download{
		height: 32px;
		width: 32px;
		margin: auto;
	}
	.legend{
		display: flex;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		align-content: center;
		gap: 50px;
	}
	.legend-line{
		display: flex;
		flex-direction: row;
		gap: 15px;
	}
	.legend-color{
		width: 32px;
		height: 32px;
		margin: auto;
		border: 1px solid white;
		border-radius: 15px;
	}
	.portfolio{
		display: grid;
		grid-template-columns: repeat(3,10fr);
		gap: 50px;
		grid-auto-rows: minmax(450px,auto);
	}
	@media (width <= 1840px){
		.portfolio{
			display: grid;
			grid-template-columns: repeat(2,10fr);
		}
	}
	@media (width <= 1300px){
		.portfolio{
			display: grid;
			grid-template-columns: repeat(1,10fr);
		}
	}
</style>
